.env
.env.localold
backend/vendor/
node_modules/
data/mysql/
data/mysql_data/
composer.lock
.DS_Store
*.log
/.osp
/.idea
/public/img/block
/public/img/floor1
/public/img/floor2
/public/img/floor3
/public/img/schema